/*@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");*/
@import url("https://fonts.googleapis.com/css2?family=Lato:230,400&display=swap");

* {
	box-sizing: border-box;
}

body {
	background: #efefbb;
	background: linear-gradient(to right, #d4d3dd, #efefbb);
	font-family: "Lato", sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start; /* uso flex-start para que el contenido se alinee en la parte superior del contenedor en lugar de centrarse verticalmente*/
	min-height: 100vh; /*uso min-height con el valor 100vh para asegurarnos de que el contenedor tenga al menos el 100% del alto de la ventana del navegador.*/
	margin: 0;
	overflow-y: auto;
}

h1 {
	letter-spacing: 3px;
}

.poke-container {
	display: flex;
	flex-wrap: wrap;
	align-items: space-between;
	justify-content: center;
	margin: 0 auto;
	max-width: 1200px;
}

.pokemon {
	background-color: #eee;
	border-radius: 10px;
	box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
	margin: 10px;
	padding: 20px;
	text-align: center;
}

.pokemon .img-container {
	background-color: rgba(255, 255, 255, 0.6);
	border-radius: 50%;
	width: 120px;
	height: 120px;
	text-align: center;
}

.pokemon .img-container img {
	max-width: 80%; /*Aqui declarem que la img sigui un 80% d'ample de l'amplada total del contenedor*/
	margin-top: 20px;
}

.pokemon .info {
	margin-top: 20px;
}

.pokemon .info .number {
	/* background-color: rgb(212, 212, 212); */
	background-color: #ffff;
	padding: 5px 10px;
	border-radius: 10px;
	font-size: 0.8rem;
}
.pokemon .info .type span {
	padding: 5px 10px;
	border: solid 1px gray;
	border-radius: 10px;
	font-size: 0.9rem;
	filter: brightness(85%);
}

.pokemon .info .type p {
	margin-top: 15px;
}

.pokemon .info .name {
	margin: 15px 0 7px;
	letter-spacing: 1px;
}
