/*@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
* {
	box-sizing: border-box;
}

body {
	font-family: "Roboto", sans-serif;
	background-color: #333;
	color: #222;
	overflow-x: hidden;
	margin: 0;
}

.container {
	background-color: #fafafa;
	transform-origin: top left; /*s'estableix com a origen de les transformacions el punt superior esquerra de la pantalla*/
	transition: transform 0.6s linear;
	width: 100vw;
	height: 100vh;
	padding: 50px;
}

.container.show-nav {
	/*s'afegirà la clase .show-map al div.conatiner quan es premit el boto del menu per a que tot roti*/
	transform: rotate(-20deg);
}

.circle-container {
	/*movem el container del cercle que conté els botons de menu de nav,
    de maner que nomes es vegi la zona inferior dreta 
    (movent respecte del top 100px cap a munt (-100px) i 
    movent respecte de l'esquerra 100px cap a l'esquerra (-100px))*/
	position: fixed;
	top: -110px;
	left: -110px;
}

.circle {
	background-color: aquamarine;
	height: 200px;
	width: 200px;
	border-radius: 50%;
	position: relative; /*para ubicar despres els botons amb position:absolut*/
	transition: transform 0.5s linear;
}

.container.show-nav .circle {
	transform: rotate(-70deg);
}

.circle button {
	cursor: pointer;
	position: absolute;
	top: 50%;
	left: 50%;
	height: 100px;
	background: transparent;
	border: 0;
	font-size: 20px;
	color: #fff;
}

.circle button:focus {
	outline: none;
}
.circle button#open {
	left: 60%;
}
.circle button#close {
	/*Es mou el boto de 'close' per a que quedi amagat fora de la part visible de la pantalla*/
	top: 60%;
	transform: rotate(90deg);
	transform-origin: top left;
}

.container.show-nav + nav li {
	/*Aqui establim els estils dels li de la nav, en quan el div.container té la classe .show-nav per rotar el contingut i deixar veure la nav*/
	transform: translateX(0); /*traslladem fins al punt X = 0 per a que es vegi la nav*/
	transition-delay: 0.3s;
}

nav {
	position: fixed;
	bottom: 40px;
	left: 0;
	z-index: 10;
}

nav ul {
	list-style-type: none;
	padding-left: 30px;
}

nav ul li {
	color: #fff;
	margin: 30px 0;
	transform: translateX(-100%);
	transition: transform 0.4s ease-in;
}
nav ul li i::before {
	margin-right: 10px;
}
nav ul li i {
	font-size: 13px;
}
nav ul li + li {
	/*S'apunta al 2 li dins de ul*/
	margin-left: 10px;
	transform: translateX(-150%);
}
nav ul li + li + li {
	margin-left: 20px; /*cal posar el doble de margin respecte al li anterior*/
	transform: translateX(-200%);
}

.content {
	max-width: 1000px;
	margin: 50px auto;
}
